@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
.home{
  width:100vw;
  height:70vh;
  background-color:#13171c;
}
.bgimg{
  width:100vw;
  height:70vh;
  background-image: url("../assets/bgimg.png");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}
.mheading{
  padding-top:25%;
  color:white;
  text-align:center;
  align-items:center;
  font-size:40px;
  font-weight: 800;
}