@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.heading{
  padding:10px;
  color:white;
  letter-spacing:1px;
  font-weight: 800;
  font-family: 'Alfa Slab One', serif;
}
.form{
  padding:10px;
  margin:10px;
  border:1px solid lime;
  border-radius:10px;
  background-color:rgba(34,139,34,0.5);
}
.Label{
  color:#8f8f8f;
}
.Input{
  border:1px solid lime;
  color:white;
  border-radius:10px;
  padding:10px;
  width:100%;
  font-size:20px;
  background:none;
}
.btn{
  margin:10px 0;
  width:100%;
  padding:10px;
  background-color:lime;
  border-radius:10px;
  box-shadow: 0 0 10px lime;
  border:none;
}
@media {min-width:768px}{
  .btnCon{
    text-align:right;
  }
  .btn{
    width:150px;
  }
}